@{
    ViewBag.Title = "Home Page";
}
<body style="background-image:url('/Content/images/home.jpg');">
    <nav>
        <div class='nav-wrapper'>
            <a href='#' class='brand-logo center '>MyBlogger</a>
            <ul id='nav-mobile' class='left hide-on-med-and-down'>
                <li>
                    <a class='navbar-brand ' href='index.jsp'>
                        <i class='material-icons' style='font-size:50px;'>home</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <br /><br /><br /><br /><br /><br />
    <ul class="collection with-header center " style="margin: auto;width: 50%;">
        <li class="collection-header green"><h4>Welcome To MyBlogger</h4></li>
        <li class="collection-item"><div>Add New Blog<a href="/Blog/AddBlog" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        <li class="collection-item"><div>Show All Blogs<a href="/Blog/AllBlog" class="secondary-content"><i class="material-icons">send</i></a></div></li>
    </ul>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</body>